# Global
* @TrueFormCoder

# Assets
/assets/public-access/ @TrueFormCoder
/assets/press/ @TrueFormCoder
/assets/scholar-canon/ @TrueFormCoder
/assets/institutional-framework/ @TrueFormCoder

# Issues
/issues/ @TrueFormCoder
